
@import url(openSansFont/OpenSans.css);

body{
	font-family: OpenSans, sans-serif;
	background: linear-gradient(to bottom, #444444, #222222);
}

#screen{
	height: 100%;
	position:absolute;
    left: 0px;
    right: 0px;
	max-width: 500px;
	background-color: #DDDDEE;
	margin: 0px auto;
}

#menu{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #8888AA;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #000000;
	font-size: 25px;
}

h2{
	font-weight: 200;
}

#menu h2{
	margin-left: 10px;
	line-height: 1.2em;
}

.innerContent h2{
	line-height: 1.2em;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 8px 12px;
	margin: 15px 0px;
}

h2#deckName{
	cursor: pointer;
}

#menuButton{
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 40px;
	text-align: center;
	margin: 5px;
	cursor: pointer;
}

.contentScreen{
	position: absolute;
	top: 50px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #8888AA;
}

.innerContent{ /* For use with footers */
	position: absolute;
	bottom: 50px;
	left: 0px;
	right: 0px;
	top: 0px;
	overflow: auto;
}

.right{
	float: right;
}

footer{
	padding-left: 5px;
}

.footerButton{
	height: 40px;
	margin: 5px 5px 5px 0px;
	width: 100px;
	line-height: 37px;
	padding: 0px;
}

div.orderButton{
	width: 150px;
	border-radius: 0px;
	padding: 0px;
	text-align: center;
	margin: 5px 5px 5px 0px;
	line-height: 37px;
	
	border: 1px rgba(0, 0, 0, 0.5) solid;
	background: linear-gradient(to bottom, rgba(250, 250, 250, 0.8), rgba(200, 200, 200, 0.8));
}

div.orderButton[data-toggled="true"]{
	background: linear-gradient(to bottom, rgba(250, 250, 250, 0.8), rgba(200, 200, 200, 0.8));
}

.dr-c-togglable span{
	float: right;
}

#correctButton, #wrongButton{
	width: 40%;
}

#correctButton:not([disabled]){
	background: linear-gradient(to bottom, rgba(200, 250, 200, 0.8), rgba(150, 200, 150, 0.8));
}

#wrongButton:not([disabled]){
	background: linear-gradient(to bottom, rgba(250, 200, 200, 0.8), rgba(200, 150, 150, 0.8));
}

#cardFront{
	margin: 50px 15px;
	font-size: 3em;
	text-align: center;
	font-weight: 200;
	line-height: 1em;
}

#hiddenCard[data-hidden="true"]{
	padding: 5px;
	border: 1px #000000 solid;
	border-radius: 5px 5px 5px 40px;
	background-color: #EEEEFF;
	margin: 15px;
	min-height: 150px;
	cursor: pointer;
	
	transition: border-radius;
	transition-duration: 300ms;
}

#hiddenCard[data-hidden="true"]:hover{
	border-radius: 5px 5px 5px 80px;
}

#hiddenCard[data-hidden="false"]{
	padding: 5px;
	border: 1px rgba(0, 0, 0, 0.3) solid;
	background-color: rgba(245, 245, 255, 0.3);
	border-radius: 5px;
	margin: 15px;
	min-height: 150px;
}

#hiddenText{
	text-align: center;
	margin-top: 40px;
	font-size: 2em;
	font-weight: 200;
}

#hiddenCard[data-hidden="false"] #hiddenText{
	display: none;
}

#hiddenCard[data-hidden="true"] #cardBack{
	display: none;
}

#cardBack{
	margin: 50px 15px;
	font-size: 3em;
	text-align: center;
	font-weight: 200;
	line-height: 1em;
}

#quizProgress{
	height: 50px;
	background-color: #EEEEEE;
	overflow: hidden;
}

#quizProgressBar{
	height: 100%;
	background:
		linear-gradient(250deg, transparent 10px, #AAAAFF 8px) top right,
		linear-gradient(290deg, transparent 10px, #AAAAFF 8px) bottom right;
	background-size: 100% 50%;
	background-repeat: no-repeat;
	font-size: 2em;
	font-weight: 200;
	padding-top: 2px;
	padding-left: 10px;
	overflow: visible;
	white-space: nowrap;
}

