
@import url(openSansFont/OpenSans.css);

body{
	font-family: OpenSans, sans-serif;
}

#screen{
	height: 100%;
	position:absolute;
    left: 0px;
    right: 0px;
	max-width: 500px;
	background-color: #DDDDEE;
	margin: 0px auto;
}

#menu{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #8888AA;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px #000000;
	font-size: 25px;
}

#menu h2{
	font-weight: 200;
	line-height: 1.2em;
	margin-left: 10px;
}

#menuButton{
	display: block;
	position: absolute;
	right: 0px;
	top: 0px;
	height: 40px;
	width: 40px;
	text-align: center;
	margin: 5px;
	cursor: pointer;
}

.contentScreen{
	position: absolute;
	top: 50px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.footer{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	background-color: #8888AA;
}

.innerContent{ /* For use with footers */
	position: absolute;
	bottom: 50px;
	left: 0px;
	right: 0px;
	top: 0px;
}

.right{
	float: right;
}

.footerButton{
	height: 40px;
	margin: 5px;
	width: 100px;
}
